{% extends 'base.html.twig' %}

{% block header %}
    {% include '_navbar_homepage.html.twig' %}
{% endblock %}

{% block body %}
 
    <div class="row justify-content-center align-items-center block my-5">
        <div class=" col-12 justify-content-center align-items-center">
            <p class="h2 pt-3 text-center">
              Tableau des listes de taches
            </p>
        </div>
    
    <div class="row justify-content-center align-items-center block my-5">
        <div class=" col-12 justify-content-center align-items-center">
            <p>
                <button class="button" role="button">
                    <a class="" href="{{path('list_page')}}">
                      <i class="fas fa-plus"></i>
                        Créer une liste
                    </a>
                </button>
            </p>
        </div>
    </div>

    <div class="row justify-content-center align-items-center block my-5">
        <table class="table table-hover">
            <thead class="">
                <tr class="" >
                    <th scope="col">Titre</th>
                    <th scope="col">Echéance</th>
                    <th scope="col">Priorité</th>
                    <th scope="col">Progression</th>
                    <th scope="col">Auteur</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for list in lists %}
                <tr>
                    <th scope="row">
                      {{ list.name | capitalize }}
                    </th>
                    <td >
                      {{ list.dateLimited | date('d/m/Y') }}  
                      {# {% set date1 = list.dateLimited | date('d/m/Y') %} #}
                      {% set today = "now" | date('d/m/Y') %}
                      {% set leftDays = time_diff(list.dateLimited) %}
                      {% if date('NOW') < date(list.dateLimited) %}
                      <br> <span class="leftDays">{{ leftDays | capitalize }} </span>
                      {% else %} 
                      <br> <span class="urgent"> DELAIS DEPASSE : C'était {{ leftDays }}</span>
                       {% endif %}            
                    </td>
                    <td class="{% if list.priority == "Urgent" %} urgent {% endif %} ">
                      {{ list.priority | capitalize}}
                    </td>
                    <td>18%</td>
                    <td>
                      {{ list.author | capitalize}}
                    </td>
                    <td>
                        <a class="" href="{{path('list_details_page', { 'id': list.id})}}">
                            <i class="fas fa-eye" title="Voir"></i>
                        </a>
                        <a class="" href="">
                            <i class="fas fa-pen" titel="Modifier"></i>
                        </a>
                        <a class="" href="">
                            <i class="fas fa-trash-alt" title="Supprimer"></i>
                        </a>
                    </td>
                   
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>




{% endblock %}
       
