<nav class="navbar fixed-top navbar-expand-md" id="menu">
    <button class="navbar-toggler button_menu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        ☰ Menu
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link link_menu" href="{{path('home_page')}}">
                    Accueil
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link link_menu" href="{{path('lists_page')}}">
                    Listes
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link link_menu" href="{{path('tasks_page')}}">
                    Tâches
                </a>
            </li>
        </ul>
    </div>
</nav>


<div class="row text-center justify-content-center align-items-center block_header" id="top">
    <div class="col-12 justify-content-center align-items-center">
        <p class="h1 titel text-center">
        {{title}}
        </p>
        {# <p class="subtitle text-center">
        {{subtitle}}
        </p> #}
    </div>
</div>

